extends layout

block content
  h1 listt
  p.lead About.
  hr  
  .container
  .row
    .col-sm-6
      h2 INSERT LISTT LOGO HERE!!!
      p insert logo here and decide on page height.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Talk about the company and why this idea came about
      p Fill this with some background on the company!
      p
        a.btn.btn-default(href='#', role='button') View details »
  .row
    .col-sm-12
      h2 Insert picture of founder (YOU!)
      p Give a brief background on the founder and what ninspired him to create this. Center the image.
      p
        a.btn.btn-default(href='#', role='button') View details »
