extends secret-layout

block secret-content
  h1 Fill in event details
  p.lead Event details to be filled are on this page
  hr  
  .container
  .row
    .col-md-12
      createeventdetails
        h1 INSERT EVENT DETAIL FORM HERE (event name, event description, event date, event location, event time)
        p
