extends secret-layout

block secret-content
  h1 DASHBOARD
  p.lead Here is a summary of organized and upcoming events:
  hr  
  .container
  .row
    .col-md-12
      organizedevents
        h1 Organized events:
        p You currently do not have any organized events. Create one now!
        p
          a#dashboardOrganizedEvents.btn.btn-primary.btn-lg(href='/dashboard/event', role='button') Let's do it!
  .row
    .col-md-12
      upcomingevents
        h1 Upcoming events:
        p You currently do not have any organized events.
        p
