extends secret-layout

block secret-content
  h1 This is your DASHBOARD!
  p.lead Guestlist management at your fingertips.
  hr  
  .container
  .row
    .col-md-12
      organizedevents
        h1 Organized events should be appended here with their details.
        p
          a.btn.btn-primary.btn-lg(href='#', role='button') Find out more
  .row
    .col-md-12
      upcomingevents
        h1 Upcoming events should be appended here with their details.
        p
          a.btn.btn-primary.btn-lg(href='#', role='button') Find out more
