extends secret-layout

block secret-content
  h1 This should be where the live instagram scraping should take place!
  p.lead Instagram collage should be on this page.
  hr  
  .container
  .row
    .col-md-12
      homemaincontent
        h1 EVENT LIVE INSTAGRAM WALL
        p
          a.btn.btn-primary.btn-lg(href='#', role='button') Find out more
