extends layout

block content
  h1 listt
  p.lead Check out all these cool features!.
  hr  
  .container
  .row
    .col-sm-4
      h2 EASY MANAGEMENT
      p Organize events and guestslists with ease with our easy step-by-step creation process!
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-4
      h2 REAL TIME DATA
      p View guest RSVPs and registrations in real-time. Send timely reminders to your guests as the big day approaches!
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-4
      h2 CREATE AND CONNECT
      p Create memories and experiences that will stay with your attendees for weeks to come! listt is integrated with Instagram to display event specific hashtag photos during your event! Don't pass on the opportunity to create a engaging event everyone will be talking about. 
      p
        a.btn.btn-default(href='#', role='button') View details »
