extends secret-layout

block individualcss
  link(rel='stylesheet', href='/css/event.css')

block secret-content
  header.row.header
    h1 Added Guests!
    
  section#addedGuestList.row
    .col-md-12
  section.row.create
    .col-md-2.addGuest
