extends layout

block content
  .container
  .row
    #homecover.col-md-12
      homemaincontent
        h1 listt
        p.lead Guestlist management at your fingertips.
        hr 
        h1 Guestlist management for weddings, corporate events, networking sessions and everything really.
        p
          a.btn.btn-primary.btn-lg(href='#', role='button') Find out more
  .container
  .row
    .col-sm-4
      h2 EASY MANAGEMENT
      p Organize events and guestslists with ease with our easy step-by-step creation process!
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-4
      h2 REAL TIME DATA
      p View guest RSVPs and registrations in real-time. Send timely reminders to your guests as the big day approaches!
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-4
      h2 CREATE AND CONNECT
      p Create memories and experiences that will stay with your attendees for weeks to come! listt is integrated with Instagram to display event specific hashtag photos during your event! Don't pass on the opportunity to create a engaging event everyone will be talking about. 
      p
        a.btn.btn-default(href='#', role='button') View details »
    .container
    .row
      .col-sm-6
        h2 TESTIMONIAL 1
        p "Insert testimonial 1 content here! In addition, add in testimonial author's picture above in a round circle"
        p
          a.btn.btn-default(href='#', role='button') View details »
      .col-sm-6
        h2 TESTIMONIAL 2
        p "Insert testimonial 2 content here! In addition, add in testimonial author's picture above in a round circle"
        p
          a.btn.btn-default(href='#', role='button') View details »
