extends layout
    
block content
  .container
  .row#homecover
    .col-md-12
      homemaincontent
        h1 listt
        p.lead Guestlist management at your fingertips.
        hr 
        h2 Let us worry about the details so you can focus on what you do best!
        hr
    .col-sm-offset-5.col-sm-2
        a#startExploringBtn.btn.btn-primary.btn-lg(href='/login', role='button') Start Exploring
  .container
  .row
    .col-sm-4
      h2 EASY MANAGEMENT
      p Organize events and guestslists with ease with our easy step-by-step creation process!
      p
        
    .col-sm-4
      h2 REAL TIME DATA
      p View guest RSVPs and registrations in real-time. Send timely reminders to your guests as the big day approaches!
      p
        
    .col-sm-4
      h2 CREATE AND CONNECT
      p Create memories and experiences that will stay with your attendees for weeks to come! listt is integrated with Instagram to display event specific hashtag photos during your event! Don't pass on the opportunity to create a engaging event everyone will be talking about. 
      p
    
    //- .container
    //- .row
    //-   .col-sm-6
    //-     h2 TESTIMONIAL 1
    //-     p "Insert testimonial 1 content here! In addition, add in testimonial author's picture above in a round circle"
    //-     p
    //-       
    //-   .col-sm-6
    //-     h2 TESTIMONIAL 2
    //-     p "Insert testimonial 2 content here! In addition, add in testimonial author's picture above in a round circle"
    //-     p
    //-       
