extends layout

block content
  h1 Pricing Plans
  p.lead Choose from 4 different plans to suit your needs!
  hr  
  section#bs-pricing-five.bs-pricing-five.p-top-100.bg-white
  .container
    .row
      .bs-five-area.bs-radius
        .col-md-3.no-padding
          .bs-five
            h6.text-uppercase Free Trial
            h1.bs-caption
              sup $
              | 00
            p No Credit Cart Needed
            ul
              li
                b 25 Free Images
              li Custom Domain
              li 24/7 Customer Support
              li  
            a.btn.btn-success.btn-round.m-top-40(href='https://bootstrapthemes.co') Buy Now
        .col-md-3.no-padding
          .bs-five.active
            h6.text-uppercase Planet
            h1.bs-caption
              sup $
              | 49
            p No Credit Cart Needed
            ul
              li
                b 60 Free Images
              li Monthly Backups
              li Custom Domain
              li 24/7 Customer Support
            a.btn.btn-success.btn-round.m-top-40(href='https://bootstrapthemes.co') Buy Now
        .col-md-3.no-padding
          .bs-five
            h6.text-uppercase Standard
            h1.bs-caption
              sup $
              | 69
            p No Credit Cart Needed
            ul
              li
                b 60 Free Images
              li Monthly Backups
              li Custom Domain
              li 24/7 Customer Support
            a.btn.btn-success.btn-round.m-top-40(href='https://bootstrapthemes.co') Buy Now
        .col-md-3.no-padding
          .bs-five
            h6.text-uppercase Business
            h1.bs-caption
              sup $
              | 89
            p No Credit Cart Needed
            ul
              li
                b 60 Free Images
              li Monthly Backups
              li Custom Domain
              li 24/7 Customer Support
            a.btn.btn-success.btn-round.m-top-40(href='https://bootstrapthemes.co') Buy Now
