extends secret-layout

block content
  h1 CUSTOMIZE YOUR REMINDERS HERE!
  p.lead Figure out content form to customize reminders
  hr  
  .container
  .row
    .col-md-12
      homemaincontent
        h1 Create table and forms for customization of reminders.
        p
          a.btn.btn-primary.btn-lg(href='#', role='button') Find out more
