

.row .eventItemRow {
  display: flex;
  flex-direction: column;
  background: green;
  width: 800px;
  border: 10px black solid;
  font-size: 20px;
}

.row .eventItemRow .col-md-6 {
  display: inline;
}
