@import "themes/default/variables";

@import "lib/bootstrap/bootstrap";
@import "lib/font-awesome/font-awesome";

@import "themes/default/default";

// Scaffolding for general
// -------------------------

html {
  position: relative;
  // min-height: 100%;
}

body {
  padding-top: 60px;
  margin-bottom: 75px;
  background: #179880;
  background: -webkit-linear-gradient(left, #179880 , #27be89);
  background: -o-linear-gradient(right, #179880, #27be89);
  background: -moz-linear-gradient(right, #179880, #27be89);
  background: linear-gradient(to right, #179880 , #27be89);
  color: white;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p, ul {
    margin-bottom: 0;
  }
}

// HOMEPAGE
// -------------------------

#homecover {
  height: auto;
  text-align: center;
  height: 300px;
}

// CONTACT PAGE
// -------------------------

#contactFormSendBtn, #loginBtn, #createAccountBtn, #updateProfileBtn, #changePasswordBtn, #startExploringBtn, #dashboardUpcomingEvents, #dashboardOrganizedEvents, #createEventBtn {
  border-radius: 20%;
  border-color: black;
  background-color: black;
  text-align: center;
  font-size: 15px;
}

// LOGIN PAGE
// -------------------------

#signUpLink, #forgotPasswordLink, .accountLinkingLinks {
  color: white;
}

// CREATE EVENT PAGE
// -------------------------

#createform, #updateform {
  color: black;
}

#createEvent, #updateEvent {
  background-color: #27be89;
}

.updateEventBtn .addGuestBtn .deleteEventBtn {
  margin: 5px;
}


// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa {
  margin-right: 6px;
}

/*
Author: Bootstrapthemes
PRICING TABLE!!!!!!
Author URI: http://bootstrapthemes.co
*/


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.p-top-100{
    padding:100px 0;
}
.m-top-40{
    margin-top: 40px;
}




/*=================================================
Pricint fiv
===================================================*/
.bs-five-area{
    width:100%;
    display: inline-block;
    box-shadow: 0px 0px 6px 0px #ddd;
    overflow: hidden;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.bs-five-area.bs-radius{
    border-radius: 30px;
}
.bs-five-area > div{
    padding:0;
}


.bs-five-area .bs-five{
    position: relative;
    width: 100%;
    margin: auto;
    transition: all 0.4s;
    padding:20px 0px;
}
.bs-five-area .bs-five h6{
    font-weight: 700;
    letter-spacing: 2px;
}
.bs-five-area .bs-five h1{
    font-size:64px;
    font-weight: 100;
    line-height: 72px;
}
.bs-five-area .bs-five h1 sup{
    font-size:30px;
    top:-30px;
}
.bs-five-area .bs-five ul {
    margin:0;
    padding:0;
    list-style: none;
}
.bs-five-area .bs-five ul li{
    line-height: 45px;
    border-bottom:0px;
}


.bs-five-area .bs-five:hover{

    background: #179880;
    transition: all 0.4s;

}

.bs-five-area .bs-five.active {
    background: #179880;
    background: -webkit-linear-gradient(left, #179880 , #27be89);
    background: -o-linear-gradient(right, #179880, #27be89);
    background: -moz-linear-gradient(right, #179880, #27be89);
    background: linear-gradient(to right, #179880 , #27be89);
}

.bs-five-area .bs-five .btn-success{
    padding: 10px 50px;
    display: inline-block;
    border-radius: 30px;
    background-color: #179880;
    border-color: #21A476;
}


.bs-five-area .bs-five.active .btn.btn-success,
.bs-five-area .bs-five:hover.bs-five .btn.btn-success{
    background: #E0FFF6 ;
    color:#444 ;

}

.bs-five-area .bs-five.active,
.bs-five-area .bs-five.active ul li,
.bs-five-area .bs-five:hover.bs-five,
.bs-five-area .bs-five:hover.bs-five ul li
{
    color:#fff;
}


/*copyright
==================*/
.footer{
    background-color: #333;
}
.copyright{
    padding: 20px 10px;
}
.copyright p {
    font-size:12px;
    color:#fff;
}
.copyright p i {
    padding: 0px 5px;
    color: red;
}
.copyright p a {
    padding: 0px 5px;
    color: yellow;
}



// STYLING FOR CRUD OF EVENTS
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


.create {
  margin-top:20px;
  height: 50px;
  margin-bottom: 20px;
  line-height: 50px;
  border-top: 1px solid #EEEEEE;
}

.create input {
  height: 40px;
  width: 100px;
}

.total {
  border-top: 1px solid #EEEEEE;
}


.row.create > div {
  height: 50px;
}


.create .name, .create .price {
  position: relative;
}

.create .name .form-group, .create .price .form-group {
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -20px;
}
